// Footer
footer#footer.page-footer
    section#contact.container
        h4.heading Join the movement.
        p.smaller.right *OPTIONAL
            include ../components/hello

    section#social.container
        h4.heading Get social.

        .row
            .col.m2
                a(href='https://twitter.com/bangladeshistry', target='_blank')
                    p.flow-text Twitter
            .col.m2
                a(href='https://www.instagram.com/bangladeshistory', target='_blank')
                    p.flow-text Instagram
            .col.m8
                p.right-align.flow-text Share your stories with <a href="https://www.instagram.com/#bangladeshihistory" target="_blank">#bangladeshihistory</a>
    section.footer-copyright
        .copyright-message.container
            p &copy; 2016, Bengladeshi Historical Memoery Project. Powered by <a href='http://withpulp.com' target='_blank'>With Pulp</a>.