// Landing

header#landing.landing
    .valign.center.container
         h1.landing-header Bangladeshi Historical
              span.line-break Memory Project
         p.flow-text.description.landing-description A digital archive documenting Bangladeshi
              span(id='js-rotating') history, art, people, culture, lives, stories, politics, revolution, rebellion
