- var message = false
div.row
    div#footer-form.col.s12
        div#contact.valign-wrapper
            div.valign
              p
                a(href = 'mailto:bangladeshihistory@gmail.com' target = 'top' style = 'font-weight:500') bangladeshihistory@gmail.com
                    
